@model IEnumerable<ComponentTypeMaster>
@{
    ViewData["Title"] = "Component Type Master List";
}

<h2>Component Type Master List</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Identity_Number)</th>
            <th>@Html.DisplayNameFor(model => model.Make)</th>
            <th>@Html.DisplayNameFor(model => model.Is_Ind)</th>
            <th>@Html.DisplayNameFor(model => model.Location)</th>
            <th>@Html.DisplayNameFor(model => model.Reference_Doc)</th>
            <th>@Html.DisplayNameFor(model => model.Is_BOI)</th>
            <th>@Html.DisplayNameFor(model => model.ComponentMaster.Component_Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Identity_Number)</td>
                <td>@Html.DisplayFor(modelItem => item.Make)</td>
                <td>@Html.DisplayFor(modelItem => item.Is_Ind)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@Html.DisplayFor(modelItem => item.Reference_Doc)</td>
                <td>@Html.DisplayFor(modelItem => item.Is_BOI)</td>
                <td>@Html.DisplayFor(modelItem => item.ComponentMaster.Component_Name)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ComponentTypeMasterId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ComponentTypeMasterId })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
